# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
idp-caller

# Test binary
*.test
.config.yaml
# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

